body{
	height: 800px;
	width: 1024px;
	margin: 0;
}

.header {
	height: 120px;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}

.logo {
	float: left;
	width: 20px;
	height:20px;
}

.title {
	font-size: 2.5em;
	line-height: 38px;
	margin:0; padding:0;
	padding-bottom: 40px;
	padding-left: 220px;
	padding-top: 20px;
	color: #D16727;
}

.menu{
	float: left;
	width: 200px;
}

.container{
	
}

.formulario{
	text-align: center;
	border-bottom: 1px solid #E5E5E5;
}

.form_incluir{
	text-align:left;
}

.div_form_incluir{
	margin-left: 220px;
}